<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.dao.ReportMapper">
	
	<resultMap type="report" id="result">
		<id property="id" column="REPORTID" />
		<result property="name" column="REPORTNAME" />
		<result property="historyMaxDays" column="HISTORYMAXDAYS" />
		<result property="nonSpoolFile" column="NONSPOOLFILE" />
		<result property="description" column="DESCRIPTION" />
		<result property="expirationDays" column="EXPIRATIONDAYS" />
		<result property="skipPages" column="SKIPPAGES" />
		<result property="creationDate" column="CREATIONDATE" />
		<result property="allowPrint" column="ALLOWPRNT" />
		<result property="addedBy" column="ADDEDBY" />
		<result property="modifiedBy" column="MODIFIEDBY" />
		<result property="as400Id" column="AS400ID" />
		<result property="status" column="STATUS" />
		<result property="multiReports" column="MULTIREPORTS" />
		<result property="allowOverrides" column="ALLOWOVERRIDEES" />
		<result property="numCols" column="NUMCOLUMNS" />
		<result property="confidential" column="CONFIDENTIAL" />
		<result property="biReport" column="BIREPORT" />
		<result property="help" column="HELP" />
		<result property="detailDescription" column="DETAILDESCRIPTION" />
		<result property="combinePdfReport" column="COMBINE_PDF_REPORT" />
	</resultMap>
	
	<select id="getAllReports" resultType="report" resultMap="result">
		SELECT * FROM t_report
	</select>
	
	<select id="searchReports" parameterType="String" resultType="report" resultMap="result">
	    SELECT  *  FROM t_report WHERE STATUS = 'A', AND REPORTNAME LIKE #{name} '%'

	</select>
	
	
	
</mapper>
